[Unit]
Description=TR-369 Controller

[Service]
ExecStart=/usr/bin/controller -u 'root' -P '<password to broker>' -mongo '<mongoDB address>' -ap 8001

Restart=always
RestartSec=4

[Install]
WantedBy=multi-user.target